@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Inconsolata|Josefin+Sans|Reem+Kufi&display=swap");

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.418)), url("../../../assest/Background.jpg") center/cover no-repeat;
  padding: 0 100px;

  .nav {
    a {
      padding-top: 35px;
      padding-left: 0;
      font-size: 2.5rem;
      color: #fff;
      font-family: "Reem Kufi", sans-serif;
      letter-spacing: 2px;
    }
  }

  .jumbotron {
    background: none;
    color: rgb(231, 228, 228);
    padding-left: 0;
    .title {
      line-height: 95px;
      font-family: "Inconsolata", monospace;
      font-weight: 300;
    }
    .description {
      width: 400px;
      font-size: 20px;
      letter-spacing: 1.2px;
      color: rgb(190, 190, 190);
    }
    .btn {
      width: 200px;
      height: 60px;
      font-size: 18px;
      transition: all 0.5s ease-in-out;
      border-radius: 1px;
      letter-spacing: 1.2px;

      &:hover {
        background: none;
        border-color: rgb(223, 221, 221);
      }
    }
  }
}
